.random-crawler {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.form {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 0 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px; /* Adjust the width to your preference */
  display: flex;
  flex-direction: row; /* Change to row to make inputs side by side */
  flex-wrap: wrap; /* Allow inputs to wrap to the next line when needed */
  gap: 20px; /* Add some space between the inputs */

  .bet-container {
    display: flex;
    

    .crawler-input {
      display: flex;
      flex-direction: column;

      input,
      select {
        width: 150px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        outline: none;
      }
    }

    button {
      height: 30px;
      padding: 10px;
      margin: auto 5px 0;
      border-radius: 5px;
      
    }
  }

  label {
    font-weight: bold;
  }

  .btn {
    padding: 5px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow boxes to wrap to the next row */
  justify-content: space-between; /* Spread boxes horizontally */
  align-items: stretch;
  height: 100%;

  .multiple-bet-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 0;
    gap: 10px; /* Adjust the gap between boxes */
    justify-content: space-evenly; 
    align-items: stretch;
    
  }

  button {
    margin-top: 50px;
  }
}

